.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.skill {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 25px;
  margin-top: 5px;
}

.progress {
  background-color: #76c7c0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
